body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Fira Code', monospace;
    background-color: #181818;
    color: #d4d4d4;
}

.vscode {
    display: flex;
    height: calc(100vh - 30px);
    position: relative; 
}

.activity-bar {
    width: 80px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #1F1F1F;
    cursor: pointer;
}
.icon{
    padding-top: 20px;
    font-size: 30px;
}
.icon-contacts img{
    padding-top: 20px;
    height: 30px;
    width: 30px;
}

.sidebar {
    width: 15%;
    background-color: #181818;
    padding: 10px;
    border-right: 1px solid #181818;
    transition: width 0.3s; 
    display: flex;
    flex-direction: column;
}
.sidebar.hidden {
    width: 0;
    padding: 0;
    border: none;
}
.button-link{
    padding: 10px;
    border: none;
    background-color: #181818;
    color: #d4d4d4;
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
}
.button-link.active {
    background-color: #1F1F1F;
}

.editor {
    width: 100%;
    padding: 1px;
    height: calc(100% - 30px); 
    position: relative; 
}

.tabs {
    display: flex;
    border-bottom: 1px solid #1F1F1F;
    position: sticky; 
    top: 0; 
    background-color: #181818; 
    z-index: 2; 
    margin-top: 3;
}

.tablink {
    background-color: #181818;
    color: #d4d4d4;
    padding: 20px; 
    font-size: 18px; 
    border: 2px solid #1F1F1F; 
    border-top: 2px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tablink:hover {
    background-color: #1F1F1F;
}

.tablink.active {
    background-color: #1F1F1F;
}

.tabcontent {
    display: none;
    background-color: #1F1F1F;
    padding: 20px; 
    height: calc(100% - 40px); 
    overflow-y: auto; 
}

.tabcontent.active {
    display: block; 
}

.hidden {
    display: none;
}

.explore {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 15px; 
    padding: 17px 10;
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.portfolio {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px; 
}

.welcomescreen {
    font-weight: light;
    font-size: 60px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 75px;
    padding-top: 100px;
    padding-bottom: 0; 
    margin: 0; 
    padding-bottom: 0px; 
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 20px;
    color: #b4b4b4;
}
.welcome-content{
    font-size:20px;
    padding-top: 80px;
}
.aboutme-content{
    font-size:20px;
    color:rgb(16, 153, 238)
}
.contact {
    display: inline-block;
    background-color: #007acc;
    color: #ffffff;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.contact:hover {
    background-color: #005f99;
}
.experience-header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}
.header-three{
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 60px;
}
.experience-content{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
}
.content-ex{
    font-size: 18px;
    color: rgb(222, 153, 103);
}
.comment{
    color: rgb(67, 168, 67);
}
.card-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    gap: 20px; 
    justify-content: flex-start; 
    align-items: flex-start;
    width: 100%; 
    padding-top: 30px;
    padding-bottom: 80px; 
    box-sizing: border-box; 
}

.card {
    width: 500px; 
    height: 300px; 
    perspective: 1000px; 
    cursor: pointer; 
    position: relative; 
    box-sizing: border-box; 
}

.card-inner {
    width: 100%;
    height: 100%;
    position: absolute; 
    transform-style: preserve-3d;
    border-radius: 30px;
    transition: transform 0.8s;
    padding-bottom: 40px;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    align-items: left;
    border: 1px solid #ccc; 
    border-radius: 30px;
}

.card-back {
    transform: rotateY(180deg);
}
.card-header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;

}
.card-content{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 40px;
}
.des-content{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    padding: 0 30px;
}
.des-title{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 30px;
}
.side-panel {
    height: 100%;
    width: 100;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #181818;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
    z-index: 1000;
}

.side-panel-content {
    margin: 30px;
    color: #d4d4d4;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

/* Hidden panel info by default */
.panel-info {
    display: none;
}
.link{
    color: rgb(222, 153, 103);
}
.achieve-content{
    color:rgb(125, 201, 255);
    padding-left: 75px;
}